# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  compile:
      # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    # - uses: actions/cache@v2

    - name: Compile Latex Documents
      run: |
        sudo apt-get install -y texlive latexmk
        latexmk -cd -pdf hello_world.tex

    - name: Save Artifact
      uses: actions/upload-artifact@v2
      with:
          name: artifacts
          path: hello_world.pdf
  upload:
    needs: compile
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Download Generated PDF
      uses: actions/download-artifact@v2
      with:
        name: artifacts

    - name: Decrypt large secret
      run: ./.github/scripts/decrypt_secret.sh
      env:
        LARGE_FILE_PASSPHRASE: ${{ secrets.LARGE_FILE_PASSPHRASE }}

    - name: Upload to Google Drive
      env:
        FILE_ID: ${{ secrets.FILE_ID }}
      run: |
        pip3 install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib
        python3 ./gdrive-update.py $HOME/secrets/my_secret.json $FILE_ID  hello_world.pdf
