
name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    # - uses: actions/cache@v2

    - name: Compile Latex Documents
      id: typeset
      uses: ssinad/typeset-action@v1
      with:
        file: 'hello_world'

    # - name: Compile Latex Documents
    #   run: |
    #     sudo apt-get install -y texlive latexmk
    #     latexmk -cd -pdf hello_world.tex

    - name: Save Artifact
      uses: actions/upload-artifact@v2
      with:
          name: artifacts
          path: hello_world.pdf
  upload:
    needs: compile
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Download Generated PDF
      uses: actions/download-artifact@v2
      with:
        name: artifacts

    # - name: Decrypt large secret
    #   run: ./.github/scripts/decrypt_secret.sh
    #   env:
    #     LARGE_FILE_PASSPHRASE: ${{ secrets.LARGE_FILE_PASSPHRASE }}

    # - name: Upload to Google Drive
    #   env:
    #     FILE_ID: ${{ secrets.FILE_ID }}
    #   run: |
    #     pip3 install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib
    #     python3 ./gdrive-update.py $HOME/secrets/my_secret.json $FILE_ID  hello_world.pdf
    
    - name: Upload to Google Drive
      env:
        FILE_ID: ${{ secrets.FILE_ID }}
        SERV_ACCT_JSON: ${{ secrets.SERV_ACCT_JSON }}
      uses: ssinad/gdrive-update-action@master
      with:
        filename: 'hello_world.pdf'
        file_id: $FILE_ID
        my_secret: $SERV_ACCT_JSON
      # run: |
      #   pip3 install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib
      #   python3 ./gdrive-update.py $HOME/secrets/my_secret.json $FILE_ID  hello_world.pdf
